
<h1>
  Dino & Bombs
</h1>

<div class="player-icon-banner">
  <img class="player-icon" src="player0.png" />
  <img class="player-icon" src="player1.png" />
  <img class="player-icon" [class.player-icon-disabled]="!r.fourPlayers" src="player2.png" />
  <img class="player-icon" [class.player-icon-disabled]="!r.fourPlayers" src="player3.png" />
  <div *ngIf="loading" class="blink_me" style="font-size: 48px;">Loading...</div>
</div>

<div style="height: 20px"></div>

<div class="text-unselectable game-settings-menu">
  <ng-container *ngIf="!useJson">
    <ng-container *ngFor="let gameOption of gameOptions; let i=index">
      <div class="input-row" *ngIf="!gameOption.advanced || showAdvanced">
        <div class="input-caption">{{gameOption.caption}}</div>
        <div class="input-value">
          <label style="cursor: pointer;" *ngFor="let val of gameOption.values">
            <input type="radio" name="autoInput{{i}}" [value]="val.value" [(ngModel)]="gameOption.value"/>
            {{val.label}}
          </label>
        </div>
      </div>  
    </ng-container>

    <div class="input-row" *ngIf="showAdvanced">
      <div class="input-caption"></div>
      <div class="input-value">
        <div>
          <label style="cursor: pointer;">
            <input type="checkbox" [(ngModel)]="r.player.canFall">
            Can fall (die when falling into holes)
          </label>
        </div>
      </div>
    </div>
  
    <div class="input-row">
      <div class="input-caption"></div>
      <div class="input-value">
        <label style="cursor: pointer;">
          <input type="checkbox" [ngModel]="r.fourPlayers" (ngModelChange)="debug($event)">
          Four players mode
        </label>
      </div>
    </div>
  </ng-container>
  <div class="input-row" *ngIf="useJson">
    <div class="input-caption">Game settings</div>
    <div class="input-value">
      <textarea style="width: 100%; height: 100px;" [(ngModel)]="gameOptionsJson"></textarea>
    </div>
  </div>
  
  <div class="input-row" *ngIf="showAdvanced">
    <div class="input-caption"></div>
    <div class="input-value">
      <div>
        <label style="cursor: pointer;">
          <input type="checkbox" [(ngModel)]="useJson">
          Use JSON settings
        </label>
      </div>
    </div>
  </div>

  <div class="input-row">
    <div class="input-caption"></div>
    <div class="input-value">
      <div>
        <label style="cursor: pointer;">
          <input type="checkbox" [(ngModel)]="showAdvanced">
          Show advanced options
        </label>
      </div>
    </div>
  </div>

  <div>
    <div class="start-button" (click)="onPlayClick()"> Start Game </div>
  </div>
</div>

<div style="height: 50px;"></div>

<h3 (click)="toggleHowTo()" style="cursor: pointer;">
  ► How to play
</h3>
<div *ngIf="showHowTo">
  <div style="display: flex; flex-direction: column; gap: 10px;">
    <div>Kick bombs to the opponent's field! When the time runs out, the team with the most tiles left wins.</div>
    <div>Tip: stop near holes to start repairing.</div>
    <div>Player 1: WASD + Q</div>
    <div>Player 2: Arrow keys + Enter</div>
    <div>Player 3: IJKL + Space</div>
    <div>Player 4: Numpad 8456 + Numpad+ </div>
  </div>
  
  <div style="height: 50px;"></div>
</div>

<h3 (click)="toggleAcknowledgements()" style="cursor: pointer;">
  ► Acknowledgements
</h3>

<div *ngIf="showAcknowledgements">
  <table border="1">
    <tr>
      <td>resource</td>
      <td>origin</td>
      <td>license</td>
      <td>link</td>
    </tr>
    <tr *ngFor="let creditData of credits">
      <td>{{creditData.name}}</td>
      <td>{{creditData.description}}</td>
      <td>{{creditData.license}}</td>
      <td><a href="{{creditData.url}}">{{creditData.url}}</a></td>
    </tr>
  </table>
  
  <div style="height: 10px;"></div>
  
  <div>Game concept was developed during a <a href="https://game-jam-do.de">mini game jam</a> :) .</div>
</div>
