
:host {
  box-sizing: border-box;
  display: block;
  height: 100;
  overflow: auto;
  padding: 20px 60px;
}

h1 {
  font-family: 'Pixelify Sans', Arial, sans-serif;
  font-size: 96px;
}

.player-icon-banner {
  display: flex;
  gap: 20px;
}

.player-icon {
  height: 64px;
  image-rendering: pixelated;

  &.player-icon-disabled {
    opacity: 0.15;
  }
}

h3 {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 15px 0;
  
  &:hover {
    text-decoration: underline;
    color: #4caf50;
  }
}

a {
  color: #4caf50;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #66bb6a;
  }
}

.game-settings-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;

  .input-caption {
    width: 250px;
  }

  .input-value {
    flex-grow: 1;
  }
}

.start-button {
  cursor: pointer;

  text-align: center;
  padding: 20px;
  display: inline-block;

  font-size: 48px;
  background: linear-gradient(45deg, #4caf50, #81c784);

  &:hover {
    background: linear-gradient(45deg, #66bb6a, #a5d6a7);
  }
}

.blink_me {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
