
<div class="overlay display-data" *ngIf="ctx"
  [style.left]="rect.x + 'px'"
  [style.top]="rect.y + 'px'"
  [style.width]="rect.width + 'px'"
  [style.height]="rect.height + 'px'">
  <div class="score" [style.color]="getColor(true)"
    style="flex-grow: 1; text-align: left;"
  >{{score0}}</div>
  <div ></div>
  <div>{{ctx.displayData.timeLeft}}</div>
  <div class="score" [style.color]="getColor(false)"
    style="flex-grow: 1; text-align: right;"
  >{{score1}}</div>
</div>

<div class="overlay full-center game-over-overlay" *ngIf="ctx?.winner != null">
  <div style="font-size: 96px;">
    <ng-container *ngIf="ctx!.winner == -1">Left team wins!</ng-container>
    <ng-container *ngIf="ctx!.winner == 1">Right team wins!</ng-container>
    <ng-container *ngIf="ctx!.winner == 0">Draw!!!</ng-container>
  </div>
  <div style="height: 50px;"></div>
  <div style="font-size: 36px">Press Backspace to play again</div>
</div>

<div class="full-center">
  <!-- <div class="net"></div> -->
  <canvas *ngIf="domCanvas" #canvas class="field" width="800" height="400"></canvas>
</div>
