@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.net {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
  background: #faa;
}

.display-data {
  display: flex;
  font-size: 96px;
  font-family: 'Pixelify Sans', Arial, sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #ccc;
}

.field {
  // transform-origin: center;
}
